@charset "utf-8";

#sub {width: 1150px; height: 900px; margin: 0 auto;}
        
        /* sub_img */
        #sub > #imgbox {width:450px; height:500px; float: left;}
        #sub > #imgbox > img {width: 100%; height: 100%;}

        /* sub_text */
        #sub > #textbox {width:600px; height:200px; float:right;}
        #sub > #textbox > p {width: 100%; font-size: 15px; color: #666;}
        #sub > #textbox > h1 {width: 100%; font-size: 30px; color: #000; margin-top: 10px;}
        #sub > #textbox > h2 {width: 100%; font-size: 17px; color: gray; margin-top: 10px;}
        
        #sub > #textbox > h3 {width: 100%; font-size: 25px; color: #000; margin-top: 10px;}
        #sub > #textbox > h3 > span {color:red; margin-right: 5px;}
        #sub > #textbox > h4 {width: 300px; font-size: 17px; text-decoration: line-through; color: gray; margin-top: 10px;}

        #sub > #textbox > h5 {width: 100%; font-size: 16px; color:darkmagenta; margin-top: 10px;}

        /* sub_table */
        #sub > #tablebox {width:600px; height:450px; float: right; margin: 0 auto;}
        #sub > #tablebox > .table1 {width: 100%; height: 450px;}
        #sub > #tablebox > .table1  tr {width:100%; border-top:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; margin:0 auto;}

        #sub > #tablebox > .table1  td {padding:6px 15px;}
        #sub > #tablebox > .table1  td:first-child {width:100px;}

        #sub > #tablebox > .table1  td > p {font-size: 12px; color: #666; margin: 5px 0 0 0;}

        #sub > #tablebox > .table1  td .p1 {font-size: 13px; float: right; color:#666; margin: 50px 0 0 0; text-decoration: line-through;}
        #sub > #tablebox > .table1  td .p2 {font-size: 15px; float: right; margin: 20px 10px 0 0;}

        select{width:70px; height:20px;  margin:10px 0 0 0px; font-family:"돋움"; 
        font-size:13px; color:#666; border:1px solid #eee; padding:0px 0 0 10px;}

        /* subbox */
        #sub > #subbox {width: 650px; height:200px; float: right; margin: 0 auto;}
        #sub > #subbox > h3 {width:400px; font-size: 15px; margin: 20px 5px 0 0; float: right; text-align: right;}
        #sub > #subbox > h3 > span{font-size: 30px; margin: 0 5px 0 5px;}

        #sub > #subbox > h4 {width:400px; font-size: 15px; float: right; text-align: right; margin:20px 0 0 0;}
        #sub > #subbox > h4 > span {font-size:12px; width: 30px; height: 18px; background-color: orange; color: #fff;
        border-radius: 5px; padding:3px; margin: 0 5px 0 0;}

        #sub > #subbox > .btnbox1 {width: 450px ;height: 100px; float:right; margin: 10px 0 0 0;}
        #sub > #subbox > .btnbox1 > button:last-child {width:50px; height:50px; border-radius:3px; border:1px solid #e9e9e9; 
        float: right; margin: 10px 0 0 5px; background-color: #fff;}
        #sub > #subbox > .btnbox1 > button:last-child > img {width: 100%; height: 100%;}
        #sub > #subbox > .btnbox1 > button:last-child:hover {cursor: pointer;}

        #sub > #subbox > .btnbox1 > button:nth-child(2) {width:50px; height:50px; border-radius:3px; border:1px solid #e9e9e9; 
            float: right; margin: 10px 0 0 5px; background-color: #fff;}
        #sub > #subbox > .btnbox1 > button:nth-child(2) > img {width: 100%; height: 100%;}
        #sub > #subbox > .btnbox1 > button:nth-child(2):hover {cursor: pointer;}

        #sub > #subbox > .btnbox1 > button:first-child {width:300px; height: 50px; background-color:darkmagenta; border-radius:3px; padding:10px 20px; color:#fff; border:none;
        float: right; margin: 10px 0 0 5px; font-size: 18px;}
        #sub > #subbox > .btnbox1 > button:first-child:hover {cursor: pointer;}
